.flip-page {
    border: 25px solid #FFF;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

.front-cover {
    background-image: url(../pages/1.png);
}
.page-1 {
    background-image: url(../pages/2.png);
}
.page-2 {
    background-image: url(../pages/3.png);
}
.page-3 {
    background-image: url(../pages/4.png);
}
.page-4 {
    background-image: url(../pages/5.png);
}
.page-5 {
    background-image: url(../pages/6.png);
}
.back-cover {
    background-image: url(../pages/7.png);
}